
@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Roboto:wght@300;400;500;700&display=swap');
.main {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

p {

font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;
color: #333B41;
}

.section-container {
    max-width: 1160px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    background: #000000;
    padding: 14px 0;
}

.header__logo {
width: 82px;
height: 52px;
margin-right: 63px;
}

.header__table {
    max-width: 472px;
    padding: 0;
    list-style-type: none;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 58px;

}

.header__link {
    font-weight: 500;
    color: #FFFFFF;
    transition: all 0.3s ease;
    text-decoration: none;
    
}

.header__link:hover {
    color: #FE9013;
}

.header__block {
    max-width: 617px;
    display: flex;
    justify-content: space-between;
}

.header__content {
    display: flex;
    justify-content: space-between;
align-items: center;

}

.hero {
    background-image: url("../../assets/images/Giant Panda.jpg");
    background-position-y: center;
}

.hero__title {
    font-weight: 700;
font-size: 106.496px;
line-height: 75%;
text-align: center;
text-transform: uppercase;
color: #FFFFFF;
position: relative;
z-index: 2;
padding-top: 69px;
}
.hero__title span {
    color: #FFEE2E;
}

.hero__item {
    padding-top: 12px;
    max-width: 490px;
    margin-right: 0;
    margin-left: auto;
    position: relative;
}
.hero__back {
width: 465px;
height: 465px;
margin-left: -86px;
background-color: #FE9013;
border-radius: 50%;
position: absolute;
z-index: 1;
}

.section-btn {
   
    
    padding: 16px 16px;
    min-width: 298px;
    background-color: #F9804B;
    border-radius: 25px;
    border: none;
    color: white;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 140%;
text-align: center;
text-transform: uppercase;
}

.button-wrap {
    margin-top: 60px;
    display: flex;
    justify-content: flex-end;
    padding-right: 100px;
    padding-bottom: 100px;
}

.backstage {
    padding-top: 140px;
    position: relative;
    overflow: hidden;
}

.backstage__content {
    display: grid;
    grid-template-columns: auto auto;
    gap: 87px;
}

.backstage__picture {
    width: 609px;
height: 403px;
}

.section-title {
    font-size: 48px;
line-height: 120%;
color: #333B41;
}

.backstage .section-text {
    color: #333B41;
    margin-top: 20px;
    margin-bottom: 0;
}

.backstage .section-sub {
    font-size: 24px;
    font-weight: 400;
line-height: 120%;
color: #333B41;
margin-top: 54px;
}

.backstage .section-text:last-child {
    margin-top: 34px;
}
.backstage__back {
    position: absolute;
    top: 8px;
    right: 0;
}

.backstage__table {
    margin-top: 180px;
}

.backstage__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    row-gap: 20px;
}

.backstage__item {
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid #FA6F32;
}

.backstage__img {
    height: 366px;
}

.card__info {
    padding: 0 13px 10px 16px;
    display: flex;
    justify-content: space-between;
}

.card__title {
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 140%;
text-transform: uppercase;

color: #000000;
}

.card__text {
    font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 15px;
line-height: 120%;
color: #000000;

}

.backstage__btn {
    margin-top: 80px;
    margin-bottom: 100px;
    text-align: center;
}

.backstage__img-left {
    position: absolute;
    left: 0;
    bottom: 0;
    
}

.backstage__img-right {
    position: absolute;
    right: 0;
    bottom: 0;
    
}

.pick {
    padding-top: 69px;
    padding-bottom: 100px;
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
opacity: 0.9;

}

.pick__content {
    padding-top: 41px;
    
    padding-bottom: 59px;
    background: rgba(253, 253, 255, 0.52);
backdrop-filter: blur(2px);
border-radius: 20px;
}

.pick .section-title {
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 120%;

text-align: center;

color: #FE9013;

}

.section-text__m {
    padding-right: 41px;
    padding-left: 99px;
    margin-top: 30px;
    margin-bottom: 40px;
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 120%;
color: #333B41;
}

.pick__text_bold,
.pick__text_width {
    padding-right: 41px;
    padding-left: 99px;
    margin-bottom: 10px;
}



.pick__text_width {
    margin-bottom: 0;
    max-width: 863px;
}

.pick__text_bold {
    font-weight: 500;
}

.inner-link {
    text-decoration: underline;
    text-decoration-color: orange;
    color: #333B41;
}

.pick .section-sub {
    margin-top: 60px;
    text-align: center;
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 130%;
color: #333B41;
}

.pick__table {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    max-width: 764px;
    display: grid;
    grid-template-columns: auto 1fr auto 1fr auto;
    gap: 30px;
}

.pick__picture {
    width: 168px;
height: 168px;
margin-bottom: 30px;
background: #FFFFFF;
border-radius: 5px;
border: 1px solid #F9804B;
display: flex;
justify-content: center;
align-items: center;
}

.pick__separator {
    padding-top: 62px;
}

.pick__btn {
    margin-top: 60px;
    text-align: center;
}

.testimonials {
    margin-top: 140px;
}

.testimonials .section-title {
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 130%;

text-align: center;

color: #333B41;
}

.testimonials__table {
    margin-top: 47px;
}

.testimonials__item {
    padding: 15px 15px 19px 16px;
    background: #F1F3F2;
    border-radius: 20px;
    border: 1px solid #FEBDAB;
}

.testimonials__author {
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 120%;
color: #000000;
}

.testimonials__title {
    font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 15px;
line-height: 120%;
color: #BDBDBD;
}

.testimonials__icon {
    margin-right: 10px;
}

.testimonials__top {
    display: flex;
    align-items: center;
    margin-bottom: 11px;
}

.testimonials__text {
    font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 15px;
line-height: 120%;

color: #767474;
max-width: 237px;
}

.swiper-block {
    display: block;
}

.swiper-pagination {
    position: static !important;
    margin-top: 21px;
    margin-bottom: 31px;
    border-radius: 5px !important;
    height: 8px !important;
    background: #F5F7F6 !important;
}

.swiper-pagination-progressbar-fill {
    background: #FE9013 !important;
}

.testimonials .section-btn {
    border-radius: 5px;

}
.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    width: 230px !important;
  }

  .footer {
    margin-top: 180px;
    padding-top: 40px;
    padding-bottom: 50px;
    background: #111115;
    color: #FFFFFF;
  }

  .footer__logo {
    display: block;
    width: 82px;
height: 52px;
margin-bottom: 68px;
  }

  .footer .section-btn {
    border-radius: 5px;

}

.footer__input {
    border: 1px solid #FE9013;
    padding: 10px;
    background-color: transparent;
    color: white;
    min-width:     210px;
}

.footer__form-btn {
    padding: 7px 39px;
    background: #F1F3F2;
/* Green */

border: 1px solid #4B9200;
border-radius: 5px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;
/* or 22px */


/* Green */

color: #4B9200;
}

.footer__title {
    margin-bottom: 14px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    /* identical to box height, or 29px */
    
    
    color: #FFFFFF;
}

.footer__block {
    display: flex;
    justify-content: space-between;
}

.footer a {
    text-decoration: none;
    color: white;
}
.footer ul {
list-style-type: none;
}
.footer__media a {
    display: flex;
}

.footer__icon {
    width: 26px;
height: 26px;
    background: rgba(196, 196, 196, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 12px;
}