
@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Roboto:wght@100;300;400;500;700&display=swap');
.main {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
   
}

a,
button,
.footer__form-btn {
    transition: all 0.3s ease;
    cursor: pointer;
}

.picture-item {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


p {

font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;
color: #333B41;
}

.section-container {
    max-width: 1160px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    background: #000000;
    padding-top: 14px;
    padding-bottom: 11px;
}

.header__logo {
width: 82px;
height: 52px;
margin-right: 63px;
}
.page-title {
    display: none;
}
.header__table {
    max-width: 472px;
    padding: 0;
    list-style-type: none;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 58px;

}

.header__link {
    font-weight: 500;
    color: #FFFFFF;
    transition: all 0.3s ease;
    text-decoration: none;
    
}
.backstage__button,
.footer a,
.footer__media-text {
    transition: all 0.3s ease;
}
.footer a:hover .footer__media-text {
    color: #E47209;
}
.footer__icon {
    transition: all 0.3s ease;
}
.footer a:hover .footer__icon {
    background: #E47209;
}

.footer a:active .footer__media-text {
    color: #4B9200
}

.footer a:active .footer__icon {
    background: #4B9200
}


.footer a:not(.section-btn_link):hover,
    .header__link:hover {
        color: #FE9013;
    }
    .backstage__button:hover {
        background: #E47209;
    }


    .help .section-btn:active,
    .backstage__button:active {
        background: #4B9200;
    }
    .section-btn_link:hover,
    .help .section-btn:hover,
    .section-btn:hover {
        background: #E47209;
    }

    .section-btn_link:active {
        background: #4B9200;
    }

.header__block {
    max-width: 617px;
    display: flex;
    justify-content: space-between;
}

.header__content {
    display: flex;
    justify-content: space-between;
align-items: center;

}

.hero {
    background-image: url("../../assets/images/Giant Panda.jpg");
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero__title {
    font-weight: 700;
font-size: 106.496px;
line-height: 75%;
text-align: center;
text-transform: uppercase;
color: #FFFFFF;
position: relative;
z-index: 2;
padding-top: 69px;
}
.hero__title span {
    color: #FFEE2E;
}

.hero__item {
    padding-top: 12px;
    max-width: 490px;
    margin-right: 0;
    margin-left: auto;
    position: relative;
    
}
.hero__back {
width: 465px;
height: 465px;
margin-left: -86px;
background-color: #FE9013;
border-radius: 50%;
position: absolute;
z-index: 1;
}

.section-btn {
   
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    padding: 16px 16px;
    min-width: 298px;
    background-color: #F9804B;
    border-radius: 25px;
    border: none;
    color: white;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 140%;
text-align: center;
text-transform: uppercase;
}

.button-wrap {
    margin-top: 60px;
    display: flex;
    justify-content: flex-end;
    padding-right: 100px;
    padding-bottom: 100px;
}

.button-wrap_mobile {
    display: none;
}

.backstage {
    padding-top: 140px;
    position: relative;
    overflow: hidden;
}

.backstage__content {
    display: grid;
    grid-template-columns: auto auto;
    gap: 87px;
}

.backstage__picture {
    width: 609px;
height: 403px;
}

.section-title {
    font-size: 48px;
line-height: 120%;
color: #333B41;
}

.backstage .section-text {
    color: #333B41;
    margin-top: 20px;
    margin-bottom: 0;
}

.backstage .section-sub {
    font-size: 24px;
    font-weight: 400;
line-height: 120%;
color: #333B41;
margin-top: 54px;
}

.backstage .section-text:last-child {
    margin-top: 34px;
}
.backstage__back {
    position: absolute;
    top: 8px;
    right: 0;
}
.backstage .backstage__table {
    position: relative;
}
.backstage__btns {
    top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
 
    width: calc(100% + 162px);
   
    left: -82px;
    
position: absolute;
display: flex;
justify-content: space-between;

}
.backstage__button {
    cursor: pointer;
    width: 62px;
height: 62px;
    border-radius: 50%;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.backstage__table {
    margin-top: 180px;
}

.backstage__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    row-gap: 20px;
}

.backstage__item {
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid #FA6F32;
}

.backstage__img {
    width: 100%;
    height: 366px;
    object-fit: cover;
    transition: all 0.3s ease;
}

.card__info {
    padding: 0 13px 10px 16px;
    display: flex;
    justify-content: space-between;
}

.card__title {
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 140%;
text-transform: uppercase;

color: #000000;
}

.card__text {
    font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 15px;
line-height: 120%;
color: #000000;

}

.backstage__btn {
    margin-top: 80px;
    margin-bottom: 100px;
    text-align: center;
}

.backstage__img-left {
    width: 880px;
    height: auto;
    object-fit: cover;
    position: absolute;
    left: -587px;
    bottom: -194px;
    
}

.backstage__img-right {
    position: absolute;
    right: 0;
    bottom: 0;
    
}

.backstage__block {
    position: relative;
    overflow: hidden;
}

.backstage__text {
    position: absolute;  
    margin: 16px;    
    transition: all 0.3s ease;   
    
    color: #fff;
    opacity: 0;
}

.backstage__over {
    background-color:rgba(0, 0, 0, 0.8);
    transition: all 0.3s ease;
    position: absolute;    
    width: 100%;
    height: 100%;
    opacity: 0;
}
.backstage__item:hover .backstage__over, 
.backstage__item:hover .backstage__text {
    opacity: 1;
    z-index: 99;
}

.backstage__item {
    cursor: pointer;
}




.backstage__item:hover .backstage__img {
    transform: scale(1.1);
}
.pick {
    padding-top: 69px;
    padding-bottom: 100px;
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
opacity: 0.9;

}

.pick__content {
    padding-top: 41px;
    
    padding-bottom: 59px;
    background: rgba(253, 253, 255, 0.52);
backdrop-filter: blur(2px);
border-radius: 20px;
}

.pick .section-title {
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 120%;

text-align: center;

color: #FE9013;

}

.section-text__m {
    padding-right: 41px;
    padding-left: 99px;
    margin-top: 30px;
    margin-bottom: 40px;
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 120%;
color: #333B41;
}

.pick__text_bold,
.pick__text_width {
    padding-right: 41px;
    padding-left: 99px;
    margin-bottom: 10px;
}



.pick__text_width {
    margin-bottom: 0;
    max-width: 863px;
}

.pick__text_bold {
    font-weight: 500;
}

.inner-link {
    text-decoration: underline;
    text-decoration-color: orange;
    color: #333B41;
}

.pick .section-sub {
    margin-top: 60px;
    text-align: center;
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 130%;
color: #333B41;
}

.pick__table {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    max-width: 764px;
    display: grid;
    grid-template-columns: auto 1fr auto 1fr auto;
    gap: 30px;
}

.pick__picture {
    width: 168px;
height: 168px;
margin-bottom: 30px;
background: #FFFFFF;
border-radius: 5px;
border: 1px solid #F9804B;
display: flex;
justify-content: center;
align-items: center;
}

.pick__separator {
    padding-top: 62px;
}

.pick__arrow.pick__arrow_mobile {
    display: none;
}

.pick__btn {
    margin-top: 60px;
    text-align: center;
}

.testimonials {
    margin-top: 140px;
    padding-bottom: 180px;
    position: relative;
    overflow: hidden;
   
}

.testimonials__picture {
position: absolute;
bottom: -135px;
right: 0;
z-index: -1;
}

.testimonials .section-title {
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 130%;

text-align: center;

color: #333B41;
}

.testimonials__table {
    margin-top: 47px;
}



.testimonials__slider-content {
    padding: 15px 15px 19px 16px;
    border-radius: 20px;
    border: 1px solid #FEBDAB;
    background: #F1F3F2;
}

.testimonials__author {
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 120%;
color: #000000;
}

.testimonials__title {
    font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 15px;
line-height: 120%;
color: #BDBDBD;
}

.testimonials__icon {
    margin-right: 10px;
    width: 37px;
    height: 37px;
    border-radius: 50%;
}

.testimonials__top {
    display: flex;
    align-items: center;
    margin-bottom: 11px;
}

.testimonials__text {
    font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 15px;
line-height: 120%;

color: #767474;
max-width: 237px;
}

.swiper-block {
    display: block;
}

.testimonials__table .swiper-pagination {
    width: 100%;
    position: static !important;
    margin-top: 21px;
    margin-bottom: 31px;
    border-radius: 5px !important;
    height: 8px !important;
    background: #F5F7F6 !important;
    
}

.swiper-pagination-progressbar-fill {
    background: #FE9013 !important;
    border-radius: 5px !important;
}

.testimonials .section-btn {
    border-radius: 5px;

}

.swiper {
    width: 100%;
    height: 100%;
  }



  .footer {
   
    padding-top: 40px;
    padding-bottom: 50px;
    background: #111115;
    color: #FFFFFF;
  }

  .footer__logo {
    display: block;
    width: 82px;
height: 52px;
margin-bottom: 68px;
  }

  .footer .section-btn {
    border-radius: 5px;

}

.footer__input {
    border: 1px solid #FE9013;
    padding: 10px;
    background-color: transparent;
    color: white;
    min-width:     210px;
}

.footer__input:focus {
    outline: 1px solid  #4B9200;
    border: 1px solid #4B9200;
    
   
}
.footer__input::placeholder {
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;
color: #BDBDBD;
}


.footer__form-btn {
    padding: 7px 39px;
    background: #F1F3F2;
margin-left: 6px;

border: 1px solid #4B9200;
border-radius: 5px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;
color: #4B9200;
}

.footer__form-btn.footer__form-btn_mistake {
border: 1px solid #D31414;
color: #D31414;
}

.footer__form-btn.footer__form-btn_default {
    border: 1px solid #000000;
    color: #000000; 

}

.footer__title {
    margin-bottom: 14px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    /* identical to box height, or 29px */
    
    
    color: #FFFFFF;
}

.footer__block {
    display: flex;
    justify-content: space-between;
}

.footer a {
    text-decoration: none;
    color: white;
}
.footer ul {
list-style-type: none;
}
.footer__media a {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.footer__media a:last-child {
    margin-bottom: 0;
}

.footer__icon {
    width: 26px;
height: 26px;
    background: rgba(196, 196, 196, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 12px;
}

.footer__table {

display: grid;
grid-template-columns: auto auto auto auto;
gap: 58px;
margin: 0;
position: relative;
left: 38px;
}

.footer__bottom {
    margin-top: 44px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.footer__link,
.footer__media-text {
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;
color: #FFFFFF;
}

.footer__info-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    font-size: 16px;
    line-height: 130%;
    color: #FFFFFF;    
}

.footer__info-text:first-child {
    margin-bottom: 10px;
}
button:active {
    background-color: #4B9200 !important;
}

.footer__link.footer__link_active,
.header__link.header__link_active {
    color: #F9804B;
}
.footer__mobile {
    display: none;
} 

.header__menu {
    display: none;
}

@media screen and (max-width: 1599px){
    .hero__item {
        padding-top: 0;
        overflow: hidden;
    }
    .hero__title {
        padding-top: 42px;
        font-size: 85px;
        line-height: 75%;
    }
    .hero__back {
        width: 367px;
height: 367px;
margin-left: 0px;
top: -11px;
    }
.button-wrap {
    margin-top: 40px;
}
.backstage {
    padding-top: 100px;
}
.backstage__back {
    display: none;
}
.section-title {
    font-weight: 400;
}
.backstage__table {
    margin-top: 138px;
}
.backstage__wrapper {
    row-gap: 93px;
} 
.backstage__btns {
    max-width: 364px;
   left: 0;
   right: 0;
   margin-left: auto;
   margin-right: auto;
   z-index: 99;
}
.backstage__btn {
    margin-bottom: 140px;
}
.backstage__img-left {
    width: 386px;
    left: -188px;
    bottom: -85px;
}
.backstage__img-right {
    width: 241px;

}
.pick {
    padding-top: 30px;
    padding-bottom: 50px;
}
.pick__content {
    padding-top: 30px;
    padding-bottom: 50px;
}
.section-text__m {
    margin-top: 20px;
    margin-bottom: 20px;
}
.pick__text.pick__text_bold {
    line-height: 140%;
}
.pick .section-sub {
    margin-top: 40px;
}
.pick__btn {
    margin-top: 70px;
}
.testimonials {
    margin-top: 97px;
}
.testimonials__table {
    margin-top: 30px;
}
.swiper-pagination {
    margin-top: 20px;
    margin-bottom: 52px;
}

}

@media screen and (max-width: 1280px){

    .section-container {
        max-width: 940px;
    }
    .backstage__picture {
        width: 455px;
height: 408px;
    }
    .backstage__content {
        gap: 31px;
        align-items: center;
    }
    
    .backstage__img {
        height: 294px;
    }
    
    
}

@media screen and (max-width: 1000px){
    .header__table {
        gap: 48px;
    }
    .hero__item {
        max-width: 515px;
    }
.button-wrap {
    padding-right: 107px;
    padding-bottom: 47px;
}
.backstage__btns {
    max-width: 294px;
}
.backstage__btn {
margin-top: 88px;
}
.pick__text_bold, .pick__text_width,
.section-text__m {
    padding-left: 49px;
    padding-right: 48px;
}
.testimonials {
    padding-bottom: 137px;
}
.testimonials__text {
    max-width: 259px;
}
.testimonials__slider-content {
    padding: 15px 15px 54px 16px;
}
.testimonials__picture {
bottom: -82px;
}
.testimonials__picture-item {
    width: 187px;
    
}
.footer__block {
    margin-right: 30px;
}
.footer .section-btn {
    padding: 16px 50px;
}
.footer__logo {
    margin-bottom: 87px;
}
.footer__bottom {
    margin-top: 62px;
}
.footer__table {
    gap: 49px;
    left: 26px;
}
.swiper-pagination {
    max-width: 390px;
    margin-left: auto;
    margin-right: auto;
}
}

@media screen and (max-width: 999px) {
    .section-container {
        padding-right: 20px;
        padding-left: 20px;
    }
    .backstage {
        padding-top: 60px;
    }
    .backstage__picture {
        display: none;
    }
    .backstage__info .section-text:first-of-type,
    .backstage__info .section-title {
        max-width: 454px;
    }
    .backstage__info .section-sub {
margin-top: 30px;
    }
    .backstage__info .section-text:last-child {
        max-width: 495px;
        margin-top: 20px;
    }
    .backstage__back {
        display: block;
        height: 476px;
        top: 0;
    }
    .backstage__table {
        margin-top: 75px;
    }
    .backstage__img {
        height: 285px;
    }
    .backstage__btn {
        margin-top: 60px;
        margin-bottom: 100px;
    }
    .pick {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .pick .section-container {
        padding-right: 0;
        padding-left: 0;
    }
    .pick__content {
        padding-top: 10px;
    padding-bottom: 60px;
    }
    .pick .section-title {
        font-weight: 400;
font-size: 42px;
line-height: 120%;
    }
    .pick .section-text__m {
        font-weight: 400;
        font-size: 22px;
        line-height: 120%;
        padding-left: 20px;
    padding-right: 20px;
    }
    .pick__text_bold, .pick__text_width, .section-text__m {
        padding-left: 20px;
    padding-right: 20px;
    }
    .pick .section-sub {
        margin-top: 30px;
    }
    .pick__table {
        margin-top: 20px;
    }
    .pick__btn {
        margin-top: 40px;
    }
    .testimonials {
        margin-top: 60px;
        padding-bottom: 80px;
    }
.footer__form {
    display: none;
}
.footer__logo {
    margin-bottom: 48px;
}
.footer__mobile {
    display: block;
}
.footer__logo-link {
display: none;
}
.footer__block {
    margin-right: 0;
}
.footer__icon {
    margin-right: 0;
}
.footer__media.footer__media_desktop {
    display: none;
}
.footer__table {
    left: 0;
    padding-left: 0;
}
}

@media screen and (max-width: 840px) {
    .pick__arrow.pick__arrow_desktop {
        display: none;
    }
    .pick__arrow.pick__arrow_mobile {
        display: block;
        position: absolute;
        top: -16px;
        left: -30px;
    }
    .pick__separator {
        padding-top: 0;
        position: relative;
        width: 42px;
       
    }
    .pick__table {
        gap: 0;
        max-width: 600px;
    }
}
@media screen and (max-width: 800px) {
    .testimonials__item.swiper-slide:nth-child(n+4):not(.testimonials__popup-content .testimonials__item.swiper-slide) {
        display: none;
    }
    .testimonials__item.swiper-slide {
        width: 100%;
        margin-bottom: 15px;
    }
    .testimonials__wrapper {
        flex-direction: column;
        margin-bottom: 25px;
    }
    .testimonials__text:not(.testimonials__popup-content .testimonials__text) {
        max-width: 100%;
        overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    }
    .testimonials__slider-content {
        padding: 12px 17px 12px 15px;
    }

    .testimonials .section-btn {
        min-width: 240px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    .swiper-pagination {
        display: none;
    }
    .header__logo {
        width: 45px;
        height: 29px;
        margin-right: 30px;
}
.header__table {
    margin: 0;
    gap: 30px;
    align-items: center;
}
}

@media screen and (max-width: 640px) {
    .header__link,
    .header__table {
        display: none;
    }
    .header {
        position: fixed;
        width: 100%;
        padding-top: 2px;
        padding-bottom: 3px;
        z-index: 9999999999;
    }
    .hero {
        padding-top: 34px;
    }
    .header__logo {
        display: block;
    }
    .header__menu {
        display: block;
    }
    .header .section-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .hero__title {
        font-size: 54px;
        line-height: 75%; 
        max-width: 255px;
        padding-top: 48px;
        margin-left: auto;
    }
    .hero__back {
        width: 237.6px;
height: 237.6px;
top: 10px;
right: 52px;
    }
    .hero__item {
        max-width: 100%;
    }
    .button-wrap {
        margin-top: -6px;
        padding-bottom: 40px;
        justify-content: flex-start;
    }
    .backstage__back {
        right: -29px;
    }
    .backstage__wrapper {
        grid-template-columns: 1fr 1fr;
    }
    .card__text,
    .card__title {
        font-size: 12px;
    }
    .card__info {
        padding: 0 13px 10px 12px;
    }
    .card__icon {
        height: 29px;
    }

    .backstage__item_desktop {
        display: none;
    }
   
    .backstage__btns {
        max-width: 154px;
    }
    .backstage__img-left {
        left: -253px;
    }
    .backstage__img-right {
        width: 199px;
    right: -10px;
        bottom: -5px;
    }
    .pick__table {
        margin-top: 14px;
    }
    .pick__item:last-child {
        margin-right: 7px;
    }
    .testimonials__picture {
        right: -9px;
    }
    .testimonials__picture-item {
        width: 133px;
    }
    .testimonials {
       
        padding-bottom: 73px;
    }
    .footer {
        padding-top: 13px;
        padding-bottom: 12px;
    }
    .footer__media a {
        
        margin-bottom: 20px;
    }
    .footer__bottom {
        margin-top: 43px;
    }
    .footer__table {
        gap: 37px;
    }
}

@media screen and (max-width: 594px){
    .button-wrap_desktop {
        display: none;
    }
    .button-wrap_mobile {
        display: block;
        padding-right: 0;
        padding-bottom: 30px;
        
    }
    .button-wrap_mobile .section-btn {
        display: block;
        margin: 0 auto;
    }
    .hero__content {
        padding-bottom: 43px;
    }
    .backstage {
        padding-top: 20px;
    }
    .backstage__back {
        right: -90px;
    }
    .section-title {
        font-weight: 400;
font-size: 24px;
line-height: 120%;
    }
    .backstage__info .section-text:last-child ,
    .backstage .section-text {
        margin-top: 10px;
    }
    .backstage__info .section-sub {
        margin-top: 20px;
    }
    .backstage__table {
        margin-top: 40px;
    }
    .backstage__btn {
        margin-top: 20px;
        margin-bottom: 60px;
    }
    .backstage__img-left {
        left: -103px;
        width: 170px;
        bottom: -52px;
    }
    .backstage__img-right {
        width: 96px;
        right: -25px;
        bottom: -5px;
    }
    
}

@media screen and (max-width: 610px){
    .pick .section-title {
        font-weight: 400;
font-size: 24px;
line-height: 120%;
    }
    .pick .section-text__m {
        padding-left: 10px;
        padding-right: 10px;
        font-size: 18px;
line-height: 120%;
text-align: center;
margin-top: 10px;
    }
    .pick__text_bold, .pick__text_width {
        display: none;
    }
    .pick .section-sub {
        margin-top: 20px;
        font-size: 24px;
line-height: 120%;
    }
    .pick__table {
        margin-top: 20px;
        grid-template-columns: 1fr;
        justify-items: center;
        row-gap: 19px;
    }
    .pick__item:last-child {
        margin-right: 0;
    }
    .pick__text {
        max-width: 168px;
    }
    .pick__picture {
        margin-bottom: 10px;
    }
    .pick__arrow.pick__arrow_mobile {
        transform: rotate(90deg);
        top: -30px;
    left: 80px;
    }
    .footer__bottom {
        flex-direction: column;
    }
    .footer__table {
        margin-top: 30px;
        order: 2;
    }
}

@media screen and (max-width: 460px){
    .backstage__wrapper {
        grid-template-columns: 1fr;
        row-gap: 20px;
    }
    .backstage__btns {
        display: none;
    }
    .footer__logo-link {
        font-family: 'Roboto';
        display: inline-block;
        font-weight: 400;
    font-size: 19px;
    line-height: 120%;
    color: #FFFFFF;
    position: relative;
    margin-bottom: 30px;
    }
    .footer__mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 44px;
    }
    .footer__logo-link::after {
        content: url(../../assets/icons/bamboo.svg);
        width: 7.03px;
    height: 20.98px;
        position: absolute;
        left: 69px;
    
    }
    .footer__logo-item {
        display: none;
    }
    .footer__media {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 30px;
        order: 1;
    }
    .footer__item {
        order: 2;
    }
    .footer__block {
        flex-direction: column;
    }
    .footer__media a {
        margin-bottom: 0;
    }
    .footer__item {
        min-height: 54px;
    }
    .footer .section-btn {
        display: block;
    }
    .footer .section-btn {
        min-width: 0;
    }
    .section-container {
        padding-right: 10px;
        padding-left: 11px;
    }
}

@media screen and (max-width: 330px) {
    .hero__title {
        max-width: 128px;
        font-size: 28px;
line-height: 75%;
padding-top: 42px;
    }
    .hero__back {
        width: 119.09px;
height: 119.09px;
top: 22px;
right: 28px;
    }
    .backstage__info {
        max-width: 300px;
    }
    .backstage__back {
        height: 217px;
        right: -40px;
        top: 35px;
    }
    .backstage__table {
        margin-top: 36px;
    }
    .pick .section-container {
        padding-right: 10px;
        padding-left: 11px;
    }
    .pick__content {
        padding-top: 20px;
        padding-bottom: 40px;
    }
    .pick__item:last-child {
        
        margin-top: -11px;
    }
    .pick__item:last-child {
    margin-right: 0;
    margin-top: -11px;
}
.testimonials .section-title {
    font-weight: 400;
    font-size: 24px;
    line-height: 120%; 
}
.testimonials {
    margin-top: 30px;
}
.testimonials__table {
    margin-top: 14px;
}
.testimonials .section-btn {
    margin-top: -11px;
}
.testimonials__picture {
    right: 0px;
    bottom: -17px;
}
.testimonials__picture-item {
    width: 57px;
}
.testimonials {
    padding-bottom: 60px;
}
.footer {
    padding-top: 20px;}
    .footer__mobile {
        margin-bottom: 29px;
    }
    .footer__info-text {
        font-weight: 100;
font-size: 15px;
line-height: 120%;
    }
    .footer__bottom {
        margin-top: 32px;
    }
    .footer__table {
        left: -12px;
        gap: 30px;
    }
}

@media screen and (max-width: 316px) {
    .section-btn {
        min-width: 0;
        width: 100%;
    }
}

/*Menu*/
.header__inner {
    position: fixed;    
    width: 100%;
    height: 100vh;
    left: 0;
    top: -150%;
   transition: all 0.3s ease;
    
}

.header__inner-menu {
    width: 100%;
    height: 80%;
    max-height: 640px;
    background: #fff;
    z-index: 1;    
}

.inner__overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background: #000;
    opacity: .4;
    z-index: -1;
}

.header__inner-top {
    margin-top: 16px;
    margin-left: 16px;
    width: 65.6px;
height: 41.6px;
    border: 0.8px solid #FE9013;
border-radius: 2px;
display: flex;
justify-content: center;
align-items: center;
text-decoration: none;
text-align: center;
}

.header__inner-link-text {
    font-family: 'Roboto';
    font-weight: 400;
font-size: 15.2116px;
line-height: 120%;
color: #FE9013;
position: relative;
}

.header__inner-link-text::before {
    content: url(../../assets/icons/bamboo-red.svg);
    position: absolute;
    top: 19px;
    left: 10px;
}

.header__inner-list {
    margin-left: 16px;
    padding: 0;
    list-style-type: none;
    display: grid;
    gap: 15px;
    margin-top: 30px;
    margin-bottom: 0;
}

.header__inner-link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    text-decoration: none;
    color: #333B41;
}

.header__inner-block {
    display: flex;
    justify-content: space-between;
}
.header__inner-close {
    width: 32px;
    height: 32px;
    margin-top: 16px;
    margin-right: 16px;
}



.testimonials__popup {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999999;
    display: none;
}

.testimonials__overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background: #000;
    opacity: .4;
    z-index: -1;
}

.testimonials__popup-content {
    margin: 20px 36px 17px 17px;
    position: relative;
}

.testimonials__popup-content .testimonials__text {
    max-width: none;
}

.testimonials__popup-close {
position: absolute;
width: 14px;
height: 14px;
left: auto;
right: -28px;
top: -7px;
}

@media screen and (min-width: 801px) {
    .testimonials__popup {
        display: none !important;
    }
}