@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Roboto:wght@100;300;400;500;700&display=swap');
.main {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
   
}

a,
button,
.footer__form-btn {
    transition: all 0.3s ease;
    cursor: pointer;
}
.section-title {
    font-size: 48px;
line-height: 120%;
color: #333B41;
}
label,
p {

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #333B41;
    }
    
    .section-container {
        max-width: 1160px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .header {
        background: #000000;
        padding-top: 14px;
        padding-bottom: 11px;
    }
    
    .header__logo {
    width: 82px;
    height: 52px;
    margin-right: 63px;
    }
    .page-title {
        display: none;
    }
    .header__table {
        max-width: 472px;
        padding: 0;
        list-style-type: none;
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        gap: 58px;
    
    }
    
    .header__link {
        font-weight: 500;
        color: #FFFFFF;
        transition: all 0.3s ease;
        text-decoration: none;
        
    }
    .backstage__button,
    .footer a,
    .footer__media-text {
        transition: all 0.3s ease;
    }
    .footer a:hover .footer__media-text {
        color: #E47209;
    }
    .footer__icon {
        transition: all 0.3s ease;
    }
    .footer a:hover .footer__icon {
        background: #E47209;
    }
    
    .footer a:active .footer__media-text {
        color: #4B9200
    }
    
    .footer a:active .footer__icon {
        background: #4B9200
    }
    
    
    .footer a:not(.section-btn_link):hover,
    .header__link:hover {
        color: #FE9013;
    }
    .backstage__button:hover {
        background: #E47209;
    }


    .help .section-btn:active,
    .backstage__button:active {
        background: #4B9200;
    }
    .section-btn_link:hover,
    .help .section-btn:hover,
    .section-btn:hover {
        background: #E47209;
    }

    .section-btn_link:active {
        background: #4B9200;
    }
    
    .header__block {
        max-width: 617px;
        display: flex;
        justify-content: space-between;
    }
    
    .header__content {
        display: flex;
        justify-content: space-between;
    align-items: center;
    
    }
    
    .hero.hero__empty {
        min-height: 386px;
        background-image: url("../../assets/images/Giant Panda.jpg");
        background-position-y: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .hero__title {
        font-weight: 700;
    font-size: 106.496px;
    line-height: 75%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    position: relative;
    z-index: 2;
    padding-top: 69px;
    }
    .hero__title span {
        color: #FFEE2E;
    }
    
    .hero__item {
        padding-top: 12px;
        max-width: 490px;
        margin-right: 0;
        margin-left: auto;
        position: relative;
    }
    .hero__back {
    width: 465px;
    height: 465px;
    margin-left: -86px;
    background-color: #FE9013;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    }
    
    .section-btn {
       
        font-family: 'Roboto', Arial, Helvetica, sans-serif;
        padding: 16px 16px;
        min-width: 298px;
        background-color: #F9804B;
        border-radius: 25px;
        border: none;
        color: white;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    }
    .help .section-btn {
        background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    }
   

    .help {
        padding-top: 40px;
        padding-bottom: 180px;
        background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    }

    .upper-title {
        font-weight: 400;
font-size: 36px;
line-height: 130%;
        text-transform: uppercase;
        color: #fff;
    }

    .help__text {
        font-weight: 500;
        margin-top: 10px;
        color: #fff;
    }

    .help__title {
        margin-top: 44px;
        font-weight: 400;
font-size: 36px;
line-height: 130%;
color: #FE9013;
    }
.help__info {
   
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    

}
    .help__block {
       margin-left: -18px;
        margin-right: 11px;
    }
.help__x {
    justify-self: start;
    margin-top: 44px;
}
    
    .help__picture {
        margin-top: 10px;
       margin-left: 32px;
    }

    .help__number {
        margin-top: 74px;
       
        font-weight: 500;
font-size: 72px;
line-height: 80%;
text-align: center;
text-transform: uppercase;
color: #000000;

    }
    .help__number-text {
        margin-top: 2px;
        padding-top: 8px;
        
    }

    .help__amount {
        margin-top: 44px;
        margin-left: 96px;
        color: #000000;
    }

    .help__money {
        padding-top: 16px;
        margin-right: auto;
        margin-left: auto;
        max-width: 976px;
    }
    .help__content {
        width: 100%;
        height: 100%;
        position: relative;
    }
.help__thick-line {
    width: 100%;
    background: #404950;
border-radius: 2px;
padding-bottom: 12px;
padding-top: 12px;
position: absolute;
top: 0;
z-index: -1;
}
.help__line {
    max-width: 912px;
    height: 2px;
    
    margin-right: 30px;
    margin-left: 30px;
    background: #72828E;
}
.help__items {
    padding-left: 12px;
    padding-right: 12px;
    display: flex;
    
   
}

.help__item {
    margin-top: -8px;
    cursor: pointer;
}


.help__item.active p {
    color: #FE9013;
}

.help__item-number {
    margin-top: 6px;
    font-weight: 500;

font-size: 26px;
line-height: 140%;
text-transform: uppercase;
position: relative;
left: -12px;
color: #333B41;
}
.help__item-center {
    width: 10px;
height: 10px;
background: #FFEE2E;
border-radius: 50%;
transition: all 0.3s ease;
}

.help__item-inner {    
    width: 22.95px;
height: 22.95px;
display: flex;
justify-content: center;
align-items: center;
border: 1px solid transparent;
border-radius: 50%;
transition: all 0.3s ease;
}



.help__item-outer {    
   
    width: 40px;
height: 40px;
display: flex;
justify-content: center;
align-items: center;
border: 1px solid transparent;
border-radius: 50%;
margin-right: 88px;
}

.active .help__item-outer,
.active .help__item-inner {
    border: 1px solid #FE9013;
}

.help__item:last-child {
    margin-right: 0;
}

.help__wrapper {
    position: relative;
    max-width: 268px;
    margin-top: 50px;
    margin-right: auto;
        margin-left: auto;
}

.help__input-icon {
    position: absolute;
    right: 9px;
    top: 17px;
}

.help__input {
   width: 100%;
   max-width: 256px;
    min-height: 50px;
    padding-left: 9px;
    background: transparent;
    border: 1px solid #929699;
border-radius: 2px;
color: #929699;

}
.help__input::-webkit-outer-spin-button,
.help__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.help__input::placeholder {
    font-weight: 400;
font-size: 16px;
line-height: 140%;



color: #929699;
}

.help__radio {
    max-width: 227px;
    margin-top: 25px;
    margin-right: auto;
        margin-left: auto;
        display: flex;
        justify-content: start;
        
}

.help__radio input {
    display: none;
}

.help__radio-item:first-child {
    margin-right: 43px;
}
 .label {
    display: inline-block;
    position: relative;    
    padding-left: 25px;
    cursor: pointer;
}
 .label::before {
    content: "";
    display: block;
    position: absolute;
    width: 14px;
    height: 14px;
    left: 0;
    top: 0;    
    border: 1px solid #FE9013;
    border-radius: 50%;
}
.label:after {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    top: 9px;
    left: 8px;
    margin-top: 0;
    background: #FE9013;
    border-radius: 4px;
    transition: 0.2s ease-in-out;
}
.help__radio :checked + .label:after {
    height: 8px;
    width: 8px;
    margin-top: -5px;
    left: 4px;
}
    .pick {
        padding-top: 69px;
        padding-bottom: 100px;
        background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    opacity: 0.9;
    
    }
    
    .pick__content {
        margin-top: 60px;
        padding-top: 41px;
        
        padding-bottom: 59px;
        background: rgba(253, 253, 255, 0.52);
    backdrop-filter: blur(2px);
    border-radius: 20px;
    }
    
    .help .section-title {
        margin-left: -10px;
        font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    
    text-align: center;
    
    color: #FE9013;
    
    }
    .help .section-text__m {
        margin-left: -8px;
    }
    .section-text__m {
        padding-right: 41px;
        padding-left: 99px;
        margin-top: 20px;
        margin-bottom: 40px;
        font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    color: #333B41;
    }
    
    .pick__text_bold,
    .pick__text_width {
        padding-right: 41px;
        padding-left: 99px;
        margin-bottom: 10px;
    }
    
    
    
    .pick__text_width {
        margin-bottom: 0;
        max-width: 863px;
    }
    
    .pick__text_bold {
        font-weight: 500;
    }
    
    .inner-link {
        text-decoration: underline;
        text-decoration-color: orange;
        color: #333B41;
    }
    
    .pick .section-sub {
        margin-top: 60px;
        text-align: center;
        font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    color: #333B41;
    }
    

    
    .help__btn {
        margin-top: 10px;
        text-align: center;
    }

    .help__bottom-text {
        text-align: center;
        margin-top: 30px;
    }

    .footer {
   
        padding-top: 40px;
        padding-bottom: 50px;
        background: #111115;
        color: #FFFFFF;
      }
    
      .footer__logo {
        display: block;
        width: 82px;
    height: 52px;
    margin-bottom: 68px;
      }
    
      .footer .section-btn {
        border-radius: 5px;
    
    }
    
    .footer__input {
        border: 1px solid #FE9013;
        padding: 10px;
        background-color: transparent;
        color: white;
        min-width:     210px;
    }
    
    .footer__input:focus {
        outline: 1px solid  #4B9200;
        border: 1px solid #4B9200;
        
       
    }
    .footer__input::placeholder {
        font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #BDBDBD;
    }
    
    
    .footer__form-btn {
        padding: 7px 39px;
        background: #F1F3F2;
    margin-left: 6px;
    
    border: 1px solid #4B9200;
    border-radius: 5px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #4B9200;
    }
    
    .footer__form-btn.footer__form-btn_mistake {
    border: 1px solid #D31414;
    color: #D31414;
    }
    
    .footer__form-btn.footer__form-btn_default {
        border: 1px solid #000000;
        color: #000000; 
    
    }
    
    .footer__title {
        margin-bottom: 14px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 120%;
        /* identical to box height, or 29px */
        
        
        color: #FFFFFF;
    }
    
    .footer__block {
        display: flex;
        justify-content: space-between;
    }
    
    .footer a {
        text-decoration: none;
        color: white;
    }
    .footer ul {
    list-style-type: none;
    }
    .footer__media a {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }
    
    .footer__media a:last-child {
        margin-bottom: 0;
    }
    
    .footer__icon {
        width: 26px;
    height: 26px;
        background: rgba(196, 196, 196, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        margin-right: 12px;
    }
    
    .footer__table {
    
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 58px;
    margin: 0;
    position: relative;
    left: 38px;
    }
    
    .footer__bottom {
        margin-top: 44px;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }
    
    .footer__link,
    .footer__media-text {
        font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
    }
    
    .footer__info-text {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 100;
        font-size: 16px;
        line-height: 130%;
        color: #FFFFFF;    
    }
    
    .footer__info-text:first-child {
        margin-bottom: 10px;
    }
    button:active {
        background-color: #4B9200 !important;
    }
    
    .footer__link.footer__link_active,
    .header__link.header__link_active {
        color: #F9804B;
    }
    .footer__mobile {
        display: none;
    } 
    
    .header__menu {
        display: none;
    }

    @media screen and (max-width: 1599px){
        .hero.hero__empty {
            height: 335px;
        }
        .help__text {
            margin-top: 30px;
        }

       .upper-title {
        max-width: 778px;
       }

       
        
    .pick {
        padding-top: 30px;
        padding-bottom: 50px;
    }
    .pick__content {
        margin-top: 40px;
        padding-top: 20px;
        padding-bottom: 46px;
    }
    .section-text__m {
        margin-top: 10px;
        padding-right: 7px;
    padding-left: 55px;
        
    }
    .pick__text.pick__text_bold {
        line-height: 140%;
    }
    .pick .section-sub {
        margin-top: 40px;
    }
    .pick__btn {
        margin-top: 70px;
    }

    .help__title {
        margin-top: 50px;
    }
    }
    
    @media screen and (max-width: 1280px){
    
        .section-container {
            max-width: 940px;
        }
        .help__items {
            padding-left: 0;
            margin-left: -7px;
        }
        .help__item:first-child {
            display: none;
           }
        .help__amount {
            margin-left: 65px;
        }
        .help__money {
            margin-left: 65px;
            margin-right: 65px;

            max-width: none;
        }
        
        .help__line {
            max-width: 100%;
            margin-right: 11px; 
    margin-left: 11px;
        }
        .help__item-number {
            left: 0;
        }
       .help {
        padding-bottom: 30px;
       }
    }
    
    @media screen and (max-width: 1000px){
        
        .header__table {
            gap: 48px;
        }
        .hero__item {
            max-width: 515px;
        }
    .button-wrap {
        padding-right: 107px;
        padding-bottom: 47px;
    }
    
    .footer__block {
        margin-right: 30px;
    }
    .footer .section-btn {
        padding: 16px 50px;
    }
    .footer__logo {
        margin-bottom: 87px;
    }
    .footer__bottom {
        margin-top: 56px;
    }
    .footer__table {
        gap: 49px;
        left: 38px;
    }
    
    }
    
    @media screen and (max-width: 999px) {
        .help__item:nth-child(2),
        .help__item:nth-child(3) {
            display: none;
           }
           .help__items {
            justify-content: space-between;
            padding-left: 0;
            padding-right: 0;
            margin-left: 0;
           }
           .help__item .help__item-outer {
            margin-right: 0;
           }
           .help__line {
            margin-right: 19px;
            margin-left: 19px;
        }
        .section-container {
            padding-right: 20px;
            padding-left: 20px;
        }
       
        .pick {
            padding-top: 20px;
            padding-bottom: 20px;
        }
        .pick .section-container {
            padding-right: 0;
            padding-left: 0;
        }
        .pick__content {
            padding-top: 10px;
        padding-bottom: 60px;
        }
        .pick .section-title {
            font-weight: 400;
    font-size: 42px;
    line-height: 120%;
        }
        .pick .section-text__m {
            font-weight: 400;
            font-size: 22px;
            line-height: 120%;
            padding-left: 20px;
        padding-right: 20px;
        }
        .pick__text_bold, .pick__text_width, .section-text__m {
            padding-left: 20px;
        padding-right: 20px;
        }
        .pick .section-sub {
            margin-top: 30px;
        }
        .pick__table {
            margin-top: 20px;
        }
        .pick__btn {
            margin-top: 40px;
        }
        .testimonials {
            margin-top: 60px;
            padding-bottom: 80px;
        }
    .footer__form {
        display: none;
    }
    .footer__logo {
        margin-bottom: 48px;
    }
    .footer__mobile {
        display: block;
    }
    .footer__logo-link {
    display: none;
    }
    .footer__block {
        margin-right: 0;
    }
    .footer__icon {
        margin-right: 0;
    }
    .footer__media.footer__media_desktop {
        display: none;
    }
    .footer__table {
        left: 0;
        padding-left: 0;
    }
    }
    

    @media screen and (max-width: 800px) {
       .hero.hero.hero__empty {
        min-height: 0;
        height: 335px;
       }
        .header__logo {
            width: 45px;
            height: 29px;
            margin-right: 30px;
    }
    .header__table {
        margin: 0;
        gap: 30px;
        align-items: center;
    }
    .help__amount {
        margin-left: 10px;
    }
    .help__money {
        margin-left: 0;
        margin-right: 0;
    }
    .upper-title {
        font-weight: 400;
font-size: 24px;
line-height: 120%;
    }
    .help {
        padding-top: 32px;
        padding-bottom: 45px;
    }
    .help__text {
        margin-top: 17px;
    }
    .help__title {
        margin-top: 29px;
    }
    .pick__content {
        margin-top: 30px;
        padding-top: 31px;
        padding-bottom: 26px;
    }
    .help .section-title {
        margin-left: 0px
    }
    .help .section-text__m {
        margin-left: 0;
        margin-top: 19px;
        text-align: center;
        margin-bottom: 32px;
    }
    .help__amount {
        margin-top: 36px;
    }
    .help__money {
        padding-top: 7px;
    }
    }
    
    @media screen and (max-width: 640px) {
        .help__radio {

            margin-top: 34px;
        }

        .help__input-icon {
            right: 5px;
            top: 9px;
        }
        .help__wrapper {
            max-width: 167px;
        }
        .help__input {
            min-height: 37px;
            margin-left: -6px;
        }
        .help__items {
            padding-left: 17px;
            padding-right: 21px;
        }
        .help__line {
            margin-right: 40px;
            margin-left: 40px;
        }
        .header__link,
        .header__table {
            display: none;
        }
        .header {
            position: fixed;
            width: 100%;
            padding-top: 2px;
            padding-bottom: 3px;
            z-index: 9999999999;
        }
        .hero {
            padding-top: 34px;
        }
        .header__logo {
            display: block;
        }
        .header__menu {
            display: block;
        }
        .header .section-container {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .hero__title {
            font-size: 54px;
            line-height: 75%; 
            max-width: 255px;
            padding-top: 48px;
            margin-left: auto;
        }
        .hero__back {
            width: 237.6px;
    height: 237.6px;
    top: 10px;
    right: 52px;
        }
        .hero__item {
            max-width: 100%;
        }
        .button-wrap {
            margin-top: -6px;
            padding-bottom: 40px;
            justify-content: flex-start;
        }
       
        .pick__table {
            margin-top: 14px;
        }
        .pick__item:last-child {
            margin-right: 7px;
        }
       
        .footer {
            padding-top: 13px;
            padding-bottom: 12px;
        }
        .footer__media a {
            
            margin-bottom: 20px;
        }
        .footer__bottom {
            margin-top: 43px;
        }
        .footer__table {
            gap: 37px;
        }
    }

    @media screen and (max-width: 620px){
.help__picture {

height: 134px;

}
    }
    
    @media screen and (max-width: 594px){
        .button-wrap_desktop {
            display: none;
        }
        .button-wrap_mobile {
            display: block;
            padding-right: 0;
            padding-bottom: 30px;
            
        }
        .button-wrap_mobile .section-btn {
            display: block;
            margin: 0 auto;
        }
        .hero__content {
            padding-bottom: 43px;
        }
       
        .section-title {
            font-weight: 400;
    font-size: 24px;
    line-height: 120%;
        }
       
        
    }
    
    @media screen and (max-width: 610px){
        .pick .section-title {
            font-weight: 400;
    font-size: 24px;
    line-height: 120%;
        }
        .pick .section-text__m {
            padding-left: 10px;
            padding-right: 10px;
            font-size: 18px;
    line-height: 120%;
    text-align: center;
    margin-top: 10px;
        }
        .pick__text_bold, .pick__text_width {
            display: none;
        }
        .pick .section-sub {
            margin-top: 20px;
            font-size: 24px;
    line-height: 120%;
        }
        .pick__table {
            margin-top: 20px;
            grid-template-columns: 1fr;
            justify-items: center;
            row-gap: 19px;
        }
        .pick__item:last-child {
            margin-right: 0;
        }
        .pick__text {
            max-width: 168px;
        }
        .pick__picture {
            margin-bottom: 10px;
        }
        .pick__arrow.pick__arrow_mobile {
            transform: rotate(90deg);
            top: -30px;
        left: 80px;
        }
        .footer__bottom {
            flex-direction: column;
        }
        .footer__table {
            margin-top: 30px;
            order: 2;
        }
    }
    @media screen and (max-width: 440px) {
        .help__picture {

            margin-left: 0;
            }
        .help__icon {
            width: 7.89px;
height: 7.89px;
        }
        .help__x {
           
            margin-left: -46px;
        }
        .help__block {
            margin-left: 0px;
        }
        .help__info {
            justify-content: space-between;
        }
        .hero.hero.hero__empty {
            height: 187px;
        }
        .help__title {
            font-weight: 400;
font-size: 24px;
line-height: 120%;
        }
        .help .section-title {
            font-weight: 400;
font-size: 24px;
line-height: 120%;
        }
        .help .section-text__m {
            font-weight: 400;
font-size: 16px;
line-height: 140%;
margin-top: 8px;
padding-left: 0;
    padding-right: 0;
    margin-bottom: -9px;
        }
        .help__number {
            margin-top: 64px;
            font-weight: 500;
font-size: 40.6015px;
line-height: 80%;
        }
        .help__number-text {
            font-weight: 400;
            font-size: 9px;
            line-height: 140%; 
            padding-top: 0;
        }
        .help__amount {
            margin-top: 17px;
            margin-left: 0px;
        }
        .help__item-center {
            width: 5px;
height: 5px;
        }
        .help__item-number {
            font-weight: 500;
font-size: 11px;
line-height: 140%;
margin-top: 3px;
        }
        .help__item-inner {
            width: 11.48px;
height: 11.48px;
        }
        .help__item-outer {
            width: 20px;
height: 20px;
        }
        .help__thick-line {
            padding-bottom: 6px;
    padding-top: 6px;
        }
        .help__item {
            margin-top: -4px;
        }
        .help__items {
            padding-left: 9px;
            padding-right: 9px;
        }
        .help__line {
            margin-right: 22px;
            margin-left: 22px;
        }
        .help__wrapper {
            margin-top: 27px;
        }
        .help__radio {
            margin-top: 27px;
        }
        .help__btn {
            margin-top: 7px;
        }
        .help__bottom-text { 
            margin-left: -1px;
        }
        .pick__content {
           
            padding-bottom: 19px;
        }
        .help {
            padding-top: 32px;
            padding-bottom: 21px;
        }

    }
    @media screen and (max-width: 460px){
       
        .footer__logo-link {
            font-family: 'Roboto';
            display: inline-block;
            font-weight: 400;
        font-size: 19px;
        line-height: 120%;
        color: #FFFFFF;
        position: relative;
        margin-bottom: 30px;
        }
        .footer__mobile {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 44px;
        }
        .footer__logo-link::after {
            content: url(../../assets/icons/bamboo.svg);
            width: 7.03px;
        height: 20.98px;
            position: absolute;
            left: 69px;
        
        }
        .footer__logo-item {
            display: none;
        }
        .footer__media {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 30px;
            order: 1;
        }
        .footer__item {
            order: 2;
        }
        .footer__block {
            flex-direction: column;
        }
        .footer__media a {
            margin-bottom: 0;
        }
        .footer__item {
            min-height: 54px;
        }
        .footer .section-btn {
            display: block;
        }
        .footer .section-btn {
            min-width: 0;
        }
        .section-container {
            padding-right: 10px;
            padding-left: 11px;
        }
    }
    
    @media screen and (max-width: 330px) {
        .hero__title {
            max-width: 128px;
            font-size: 28px;
    line-height: 75%;
    padding-top: 42px;
        }
        .hero__back {
            width: 119.09px;
    height: 119.09px;
    top: 22px;
    right: 28px;
        }
        .backstage__info {
            max-width: 300px;
        }
        .backstage__back {
            height: 217px;
            right: -40px;
            top: 35px;
        }
        .backstage__table {
            margin-top: 36px;
        }
        .pick .section-container {
            padding-right: 10px;
            padding-left: 11px;
        }
        .pick__content {
            padding-top: 20px;
        }
        .pick__item:last-child {
            
            margin-top: -11px;
        }
        .pick__item:last-child {
        margin-right: 0;
        margin-top: -11px;
    }
    
    .footer {
        padding-top: 20px;}
        .footer__mobile {
            margin-bottom: 29px;
        }
        .footer__info-text {
            font-weight: 100;
    font-size: 15px;
    line-height: 120%;
        }
        .footer__bottom {
            margin-top: 32px;
        }
        .footer__table {
            left: -12px;
            gap: 30px;
        }
    }
    
    @media screen and (max-width: 316px) {
        .section-btn {
            min-width: 0;
            width: 100%;
        }
    }

    /*Menu*/
.header__inner {
    position: fixed;    
    width: 100%;
    height: 100vh;
    left: 0;
    top: -150%;
   transition: all 0.3s ease;
    
}

.header__inner-menu {
    width: 100%;
    height: 80%;
    max-height: 640px;
    background: #fff;
    z-index: 1;    
}

.inner__overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background: #000;
    opacity: .4;
    z-index: -1;
}

.header__inner-top {
    margin-top: 16px;
    margin-left: 16px;
    width: 65.6px;
height: 41.6px;
    border: 0.8px solid #FE9013;
border-radius: 2px;
display: flex;
justify-content: center;
align-items: center;
text-decoration: none;
text-align: center;
}

.header__inner-link-text {
    font-family: 'Roboto';
    font-weight: 400;
font-size: 15.2116px;
line-height: 120%;
color: #FE9013;
position: relative;
}

.header__inner-link-text::before {
    content: url(../../assets/icons/bamboo-red.svg);
    position: absolute;
    top: 19px;
    left: 10px;
}

.header__inner-list {
    margin-left: 16px;
    padding: 0;
    list-style-type: none;
    display: grid;
    gap: 15px;
    margin-top: 30px;
    margin-bottom: 0;
}

.header__inner-link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    text-decoration: none;
    color: #333B41;
}

.header__inner-block {
    display: flex;
    justify-content: space-between;
}
.header__inner-close {
    width: 32px;
    height: 32px;
    margin-top: 16px;
    margin-right: 16px;
}